import React from 'react';
import { connect } from 'react-redux';

// import s from './{{ dashCase name }}.css';
import {} from '../../actions';
import {} from '../../selectors';

export function {{ properCase name }}() {
    return (
        <p>{{ properCase name }}</p>
    );
}

{{ properCase name }}.propTypes = {
};

const mapStateToProps = (/*state*/) => {
    return {
    };
};

const mapDispatchToProps = (/*dispatch*/) => {
    return {
    };
};

export default connect(
    mapStateToProps,
    mapDispatchToProps
)({{ properCase name }});
