import React from 'react';
import {connect} from 'react-redux';
import style from './{{dashCase name}}.css';
import {} from '../../actions';
import {} from '../../selectors';

export function {{ properCase name }}() {
    return (
        <div className={ style.{{camelCase name}} }>
            <h2>{{ properCase name }}</h2>
        </div>
    );
}

{{ properCase name }}.propTypes = {
};

const mapStateToProps = (/*state*/) => {
    return {
    };
};

const mapDispatchToProps = (/*dispatch*/) => {
    return {
    };
};

export default connect(
    mapStateToProps,
    mapDispatchToProps
)({{ properCase name }});
